.cover-panel {
    display: block;
    .cover img {
        height: 90px;
        width: 100%;  
        background: darkmagenta;   
    }
    .profile {
        text-align: center;
        margin-top: -40px;
        img {
            width: 90px;
            height: 90px;
            border : 2px solid white;
        }
    }
}

.clipbutton {
    background: red;
    box-sizing: border-box;
    user-select: none;
    outline: 0;
    border: none;
    min-width: 82.8px;
    line-height: 27.3px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
.clipbutton::before {
    content: '';
    background: #291f1f;
    min-width: 38px;
    min-height: 38px;
    position: absolute;
    border: 50%;
    border-radius: 50%;
    letter-spacing: 0;
    left: 0;
    border: 3px solid white;
}

.padding-left-20{
    padding-left: 20px;
}